link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet"

h1{
font-family: 'BenchNine', sans-serif;
}

body{
	background-color: pink;
	background-position: center;
	background-size: 1920px 1080px;
	text-align: center;
	font-size: 16px; /*1em=16px*/
	margin-top: 50px;
}

p{
	font-size: 25px;
	text-indent: 50px;
}
header {
	width: 1000px;
	margin: 0 auto;
}
header img {
	width: 49%;
	display: inline-block;
	border:3px solid red;
}

#middle-title {
	width:49%;
	display: inline-block;
	line-height: 375px;
	color: red;
	vertical-align: top;
}
